/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  max-width: 1200px;
  margin: auto;
  font-family: sans-serif;
  color: #1a1a1a;
}
nav {
  display: flex;
  height: 100px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 30px;
}

.logo {
  width: auto;
  height: 60px;
  margin: 20px;
}

nav ul {
  display: flex;
  width: 400px;
  justify-content: space-between;
}

nav ul li {
  display: inline;
  text-decoration: none;
  font-size: 1.2em;
}

header {
  display: flex;
  background-image: url("../images/landing.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px;
  flex-flow: wrap;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

header h1,
header p {
  color: #fff;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

h1 {
  font-size: 4.5em;
  font-weight: lighter;
  margin-bottom: 30px;
}

header p {
  font-size: 1.5em;
  font-weight: 200;
}

.main--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.main--container h2 {
  margin-top: 30px;
  font-size: 1.5em;
}

.sub-container {
  display: flex;
  justify-content: space-around;
}

.sub-container img {
  display: flex;
  height: 80px;
}

.sub-container div {
  display: block;
  width: 300px;
  height: 300px;
  flex-direction: column;
  padding: 50px;  
}

.sub-container img, h3, p {
  text-align: center;
  margin-top: 50px;
  margin: auto;
}

.sub-container h3 {
  margin-top: 10px;
}

.sub-container p {
  
 margin-top: 16px;
}


